* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;/*去掉列表前置符号*/
}
body , html{
    overflow-x: hidden;
    font-family: sans-serif;
}

/*导航栏*/ 
.navbar {  
    display: flex;  
    justify-content: space-between;  
    padding: 10px 20px;  
    background-color: rgb(189, 24, 54); 
    align-items: center; 
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
}   
.logo {  
    margin: 0; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff; 
}  
.container {  
    display: flex;  
    align-items: center;   
}   
nav ul {  
    list-style: none;  
    margin: 0;  
    padding: 0;  
    display: flex; 
}   
nav ul li {  
    list-style: none;  
    display: inline-block;  
    padding: 10px 20px; 
    margin: 0; 
    font-size: 16px;   
    font-weight: 500;  
    color: #ffffff;  
    cursor: pointer;  
    position: relative;  
    z-index: 2;  
    transition: color 0.5s, background-color 0.5s; 
}   
nav ul li:hover {  
    color: #fff;  
    background-color: rgb(188, 114, 128);  
}  

/*头部*/
header {
    width: 100vw;
    height: 99vh;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden; /* 防止视频内容溢出 */  
    position: relative; /* 确保video可以相对于header定位 */
}
header video {  
    position: absolute; /* 绝对定位以覆盖整个header */  
    top: 0;  
    left: 0;  
    width: 100%; /* 宽度占满整个header */  
    height: 100%; /* 高度占满整个header */  
    object-fit: cover; /* 保持视频宽高比，同时覆盖整个容器 */  
    z-index: -1; /* 确保内容在视频之上 */  
}
.header-content {
    margin-bottom: 300px;
    color: aliceblue;
    text-align: center;
}
.header-content h2 {
    font-size: 5vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: rgb(253, 3, 48);
    margin:10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

section{
    margin: 8px auto;
    opacity: 0;/*透明度为0*/
    transform: translateY(20px);
    transition: opacity 3.0s ease, transform 3.0s ease;
}
section.visible {
    opacity: 1;
    transform: translateY(0);
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #649ded;
}

/*二月*/
.sh{
    width: 100%;
    height: 100%;
    background-color: #fdf9e8;
    overflow: hidden;
}
.page{
    transform: translateX(-110%);
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .5s;
    background-size: cover;
}
.button{
    display: block;
    width: 10%;
    color: #fff;
    font-size: 30px;
    border-bottom: #fff solid 4px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 50px;
    left: calc(50% + (var(--i)*17%));
    z-index: 999;
    transition: .3s;
}
.page_content{
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    color: #FFF;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
input{
    display: none;
}
input:checked+.page{
    transform: translateX(0px);
    transition: .4s;
}
input:checked+.page .page_content{
    width: 100%;
    display: block;
}
.page:nth-child(3){
    background-image: url('./img/111.jpg');
}
.page:nth-child(3) .page_content{
    background-color: rgb(185,130,130);
}

.page:nth-child(6){
    background-image: url('./img/222.jpg');
}
.page:nth-child(6) .page_content{
    background-color: rgb(173,170,226);
}

.page:nth-child(9){
    background-image: url('./img/333.jpg');
}
.page:nth-child(9) .page_content{
    background-color: rgb(236,180,110);
}
.page h1{
    font-size: 40px;
    color: rgb(194, 51, 70);
}
.page p{
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 30px 0;
    color: rgb(216, 194, 49);
}
.page span{
    font-size: 22px;
    letter-spacing: 2px;
    color: rgb(56, 56, 56);
}
label:hover{
    cursor: pointer;
    border-bottom: solid 4px rgb(35, 35, 35);
}
.events {
    position: relative;
    width: 100vw;
    height: 110vh;
    overflow: hidden;
}

/*美食*/
.food {
    width: 100%;
    height: 100vh; /* 确保高度合适 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 竖直靠顶 */
    flex-direction: column;
    display: flex;
    background-color:rgb(254, 247, 239);
}
.ti {
    text-align: center;
    font-size: 4vmin;
    color: rgb(180, 121, 82);
    margin: 20px;
}
.shell{
    width: 90%;
    height: 700px;
    display: flex;
    display: flex;  
    flex-wrap: wrap; /* 允许内容换行 */  
    justify-content: space-between; /* 间距平均分布 */  
}
.box{
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    border: 10px solid #fff;
    background-color: #fff;
}
.food-link img{
    width: 200%;
    height: 85%;
    object-fit: cover;
    transition: .5s;
}
.food-link span{
    font: 200 45px '优设标题黑';
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.box:hover{
    flex-basis: 20%;
}
.food-link img:hover{
    width: 100%;
    height: 100%;
}

/*文艺活动*/
#main {
    background-color: rgb(188, 211, 255);  
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #click-section {
    width: 30%;
    height: 100%;
    padding: 20px 0;
    position: relative;
  }

  #drawerboxes {
    margin-left: 10%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #drawerboxes::before {
    content: "";
    width: 8px;
    height: 94%;
    position: absolute;
    left: -10px;
    top: 3%;
    z-index: 120;
  }
  .activity {
    padding: 20px;
  }
  .actitle {
    text-align: center;
    font-size: 4vmin;
    color: #649ded;
    margin: 20px;
  }
  .drawerbox {
    height: calc(100% / 5.5);
    width: 70%;
    position: relative;
    z-index: 100;
    transform: translateX(-70%);
    transition: transform .5s ease-in-out;
  }

  .drawerbox.active {
    transform: translateX(0);
  }

  .drawer-btn {
    width: 100%;
    height: 100%;
    font: 800 30px '';
    background-color: rgb(185, 198, 252);
    border: none;
    transition: background-color .5s ease-in-out;
    color: #ffffff00;
  }

  .drawer-btn.active {
    background-size: cover;
    color: rgb(86, 115, 194);
  }

  .drawer-btn:hover {
    cursor: pointer;
  }

  .drawer-head {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 700;
    right: -38px;
    top: calc(50% - 135px);
    text-shadow: 2px -1px 8px rgba(250, 80, 193, 0.323);
  }

  #slide-section {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, .6),
        rgba(255, 255, 255, .3),
        rgba(255, 255, 255, .2));
    backdrop-filter: blur(11px);
  }

  #slide-bar {
    position: absolute;
    top: 10%;
    left: 40px;
    height: 80%;
    width: 1px;
    background-color: rgb(223, 223, 223);
  }

  #bar {
    position: absolute;
    height: calc(100% / 4);
    width: 5px;
    top: 0;
    left: -1.2px;
    background-color: rgb(175, 190, 255);
    transition: transform .5s ease-in-out;
  }

  #card-section {
    height: 100%;
    width: 80%;
    overflow: hidden;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    color: white;
    font-size: 30px;
    transition: transform .5s ease-in-out;
  }

  .card-small-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: min(5%, 10px);
    color: rgb(70, 100, 180);
  }

  .card-title {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: min(20%, 20px);
    color: rgb(70, 100, 180);
  }

  .card-content {
    font-size: 24px;
    font-weight: 400;
    color: rgb(94, 123, 255);
  }

/*旅游景观*/
.tours {
    padding: 20px;
}
.tours::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/雪山.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* 调整不透明度 */
    z-index: -1; /* 确保背景层在内容层之后 */
}
.toursti {
    text-align: center;
    font-size: 4vmin;
    color: #649ded;
    margin: 20px;
}
.content-slider {
    width: 95vw;
    position: relative;
    height: 25em;
    margin: 2em 0;
}
.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    width: 200%;
    height: 100%;
}
.slide {
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1em;
}
.slide .car {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 25px
                rgba(0, 0, 0, 0.2);
}
.car div {
    padding: 1em 1.5em;
}
.slide img {
    height:14em;
    width: 100%;
    object-fit: cover;
}
.tour-link h2 {
    margin: 0.2em 0;
    color: #1360cc;
}
.slide p {
    font-size: 0.9em;
    color: #878484;
}
.arrow-left,  
.arrow-right {  
    background: #c43333;  
    color: #fff;  
    border: none;  
    border-radius: 50%;  
    width: 2.5em;  
    height: 2.5em;  
    position: absolute;  
    top: 50%;  
    transform: translateY(-50%);  
    font-size: 1em;  
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    overflow: hidden; /* 防止伪元素超出容器 */  
}   
.arrow-left::before,  
.arrow-right::before {  
    content: '';  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    width: 0;  
    height: 0;  
    border-style: solid;  
    transition: border-color 0.3s;  
}  
  
.arrow-left::before {  
    border-width: 0.35em 0.35em 0.35em 0;  
    border-color: transparent #fff transparent transparent;  
    margin-left: -0.1em; /* 根据需要调整位置 */  
}  
  
.arrow-right::before {  
    border-width: 0.35em 0 0.35em 0.35em;  
    border-color: transparent transparent transparent #fff;  
    margin-left: 0.1em; /* 根据需要调整位置 */  
}  
  
.arrow-left:hover,  
.arrow-right:hover {  
    background: #530404;   
}  
  
.arrow-left {  
    left: 1em;  
}  
  
.arrow-right {  
    right: 1em;  
}
.card:hover{
    transform: scale(1.10);
}

/*end*/
.end {  
    height: 30vh;  
    width: 100vw;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background-color: #e6e5e5;  
    padding: 0 20px;  
    box-sizing: border-box;  
}   
.leftbox {  
    margin-left: 50px; 
}   
.rightbox {  
    display: flex; 
    flex-direction: row;
    margin-right: 50px; 
    width: 60%; 
}   
.link-group {  
    margin-right: 30px; 
    display: flex; 
    flex-wrap: wrap; 
}  
.link-group a {
    color: #878484;
}
#getLocationBtn {
    border: none;
    color: #878484;
    background-color: rgb(230, 229, 229);
    
}



@media (max-width: 768px) {  
    .navbar {  
        flex-direction: column; 
        align-items: flex-start; 
    }  
  
    .container {  
        flex-direction: column; 
        width: 100%; 
    }  
  
    nav ul {  
        flex-direction: column; 
        text-align: center; 
    }  
  
    nav ul li {  
        padding: 10px 0; 
    }  
  
    header {  
        height: auto; 
        padding-bottom: 100px; 
    }  
  
    .header-content {  
        margin-bottom: 100px; 
    }  
  
    .header-content h2, .header-content h1 {  
        font-size: 4vmin; 
    }  
  
    .line {  
        width: 80px; 
    }  
    .sh {  
        position: relative; 
    }  
  
    .button {  
        width: 15%; 
        margin: 20px; 
        left: calc(50% - (var(--i) * 15% / 2) - 7.5%); 
    }  
  
    .page {  
        width: 100%; 
        height: auto; 
        position: relative; 
        transform: none; 
    }  
  
    .page_content {  
        position: relative; 
        left: 0; 
        display: none; 
        padding: 20px;
        height: 0; 
        overflow: hidden; 
        transition: height 0.5s ease;
    }  
  
    input:checked + .page .page_content {  
        display: block;  
        height: auto; 
        min-height: 100vh; 
    }  
  
    .page h1, .page p, .page span {  
        font-size: 18px; 
    }  
  
    .page p {  
        padding: 5px; 
        margin: 15px 0; 
    }  
  
    .events {  
        height: auto;
    }  

    
}  
  
@media (max-width: 480px) {  
    .logo {  
        font-size: 20px; 
    }  
  
    nav ul li {  
        font-size: 14px;
    }  
  
    .header-content h2, .header-content h1 {  
        font-size: 3.5vmin; 
    }  
  
    
}  